.wrapper {
  /* background-color: green; */
  overflow: hidden; /* so that column content goes to the edge */
  padding-left: 18px;
  padding-right: 18px;
  /* max-width: 1200px; */
  max-width: 1236px; /* to account for 18px padding and border-box */
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 976px;
  }

  .wrapper { /* when a wrapper is within a wrapper */
    padding-left: 0;
    padding-right: 0;
  }

  &--b-margin {
    margin-bottom: 1rem;

    @mixin atSmall {
        margin-bottom: 3.875rem;
    }
  }

}
