.wrapper {
  /* background-color: green; */
  overflow: hidden; /* so that column content goes to the edge */
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 976px;
  }

  .wrapper { /* when a wrapper is within a wrapper */
    padding-left: 0;
    padding-right: 0;
  }
}
