/* Stylesheet */
/* $mainBlue: #2f5572;

body {
  color: $mainBlue;
  columns: 300px 2;
}

p { color: red; }

a { text-decoration: underline; }

.box {
  a {
    display: block;
    padding: 10px;
  }
} */
@import "normalize.css";
@import "base/_variables";
@import "base/_mixins";
@import "base/_global";
@import "modules/_large-hero";
@import "modules/_btn";
@import "modules/_wrapper";
@import "modules/_page-section";
@import "modules/_headline";
@import "modules/_row";
@import "modules/_generic-content-container";
@import "modules/_section-title";
@import "modules/_feature-item";
